.login-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
    right: 0;
    left: 0;
    bottom: 0;
    position: static;
    margin: auto;
    border-top-left-radius: 46%;
    border-top-right-radius: 46;
}

.login-form{
    .form-inout{
        position: relative;
        margin-bottom: 10px;
        ion-item:part(native){
            padding-left: 0;
        }
    }

    ion-icon{
        position: relative;
        top: 37px;
        z-index: 2;
        font-size: 1.2rem;
        right: 25px;
    }

    .action-buttons{
        text-align: center;
        .login-button{
            --background: #f9b801;
            width: 100;
            font-weight: bold;
        }
    }

}

